<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Employee List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees | async">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.salary}}</td>
            <td>
                <button (click)="employeeDetails(employee.id)" class="btn btn-info" >Details</button>
                <button (click)="updateEmployee(employee.id)" class="btn btn-success" style="margin-left: 20px">Update</button>
                <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 20px">Delete</button>
               
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>