<h3>Update Employee</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="id">Employee Id</label>
        <input type="text" class="form-control" id="id" required [(ngModel)]="employee.id" name="id">
      </div>
  
      <div class="form-group">
        <label for="name">Employee Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="employee.name" name="name">
      </div>
  
      <div class="form-group">
        <label for="dob">Employee DOB</label>
        <input type="text" class="form-control" id="dob" required [(ngModel)]="employee.dob" name="dob">
      </div>
      
      <div class="form-group">
          <label for="age">Employee Age</label>
          <input type="text" class="form-control" id="age" required [(ngModel)]="employee.age" name="age">
      </div>
  
      <div class="form-group">
          <label for="salary">Employee Salary</label>
          <input type="text" class="form-control" id="salary" required [(ngModel)]="employee.salary" name="salary">
      </div>

    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>
